<!-- todo: class/style for submitting and error and remove on submitted -->
<div ng-repeat="vmLi in vc.PatientList">
    <div ng-hide="vmLi.Message && vmLi.Message.length > 0 ? false : true">{{vmLi.Message}}</div>
    <div>
        <div>
            <span>{{vmLi.LastName}}, {{vmLi.FirstName}}</span>
            <span>{{vmLi.Ssn}}</span>
            <span>{{vmLi.Zip}}, {{vmLi.State}}</span>
            <span style="float: right;">{{vmLi.SyncStatus}}</span>
            <!-- todo: 1. add edit button -->
            <!-- todo: 1. add retry button for failed uploads -->
        </div>
    </div>
</div>

