@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-componentRouter-production</title>
    <!--    <link href="styles.css" rel="stylesheet" type="text/css">-->
    <base href="/app">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).bind('mobileinit',function(){
        $.mobile.changePage.defaults.changeHash = false;
        $.mobile.hashListeningEnabled = false;
        $.mobile.pushStateEnabled = false;
    });
    </script>
    <script src="lib/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/heroes.js"></script>
    <script src="app/crisis.js"></script>
    <script src="app/dialog.js"></script>

    <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>
</head>
<body ng-app="app">
    <h1 class="title">Component Router</h1>
    <app></app>
    <!-- Load up the router library - normally you might use npm and host it locally -->
    <script src="lib/@Html.Raw("@")angular/router/angular1/angular_1_router.js"></script>
</body>
</html>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
