<h1>HI {{vc.name}}.  My name is {{vc.model.FirstName}}</h1>
<form name="patientEntryForm">
    <input type="text" name="firstName" ng-model="vc.model.FirstName" required placeholder="First Name" />
    <input type="text" name="lastName" ng-model="vc.model.LastName" required placeholder="Last Name" />
    <input type="text" name="Ssn" ng-model="vc.model.Ssn" mask="999-99-9999" validate="true" clean="false" pattern="^\d{3}-\d{2}-\d{4}$" required title="Social security number 999-99-9999"
           placeholder="999-99-9999 Social Security Code" />
    <input type="text" name="zip" ng-model="vc.model.Zip" mask="99999" validate="true" clean="false" pattern="^\d{5}$" required placeholder="5 digit zip code" />
    <input type="text" name="state" ng-model="vc.model.State" placeholder="State" />

    <button type="submit" ng-click="vc.onSave()" id="submit" value="Submit">save</button>
    <button type="reset">clear</button>
</form>

<div>
    <div ng-hide="vc.model.Message && vc.model.Message.length > 0 ? false : true"></div>
    <div ng-hide="vc.model.DoesHaveValues ? false : true">
        <!-- todo: class/style for submitting and error and remove on submitted -->
        <div>
            <span>{{vc.model.LastName}}, {{vc.model.FirstName}}</span>
            <span>{{vc.model.Ssn}}</span>
            <span>{{vc.model.Zip}}, {{vc.model.State}}</span>
            <span style="float: right;">{{vc.model.SyncStatus}}</span>
            <!-- todo: 1. add edit button -->
        </div>
    </div>
</div>

<div ng-repeat="vmLi in vc.PatientList">
    <div ng-hide="vmLi.Message && vmLi.Message.length > 0 ? false : true">{{vmLi.Message}}</div>
    <div>
        <div>
            <span>{{vmLi.LastName}}, {{vmLi.FirstName}}</span>
            <span>{{vmLi.Ssn}}</span>
            <span>{{vmLi.Zip}}, {{vmLi.State}}</span>
            <span style="float: right;">{{vmLi.SyncStatus}}</span>
            <!-- todo: 1. add edit button -->
            <!-- todo: 1. add retry button for failed uploads -->
        </div>
    </div>
</div>
